:root {
  --semantic-green: #21ba45;
}

.spaced {
  display: flex;
  justify-content: space-between;
}

.label {
  background-color: var(--semantic-green) !important;
  color: #fff !important;
}

#app {
  padding-top: 14px;
}

#tally-section > * {
  margin: 2px;
}

@media screen and (max-width: 767px) {
  #recent-transactions-table > table > tbody > tr {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  #recent-transactions-table > table > tbody > tr > td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
